<form autocomplete="off">
    <h2>{{activity.name}}</h2>
    <div class="form-group">
        <p class="notes">
            {{activity.desc}}
        </p>
    </div>
    <h3> {{localize "beaversProximityAction.activitySettings.configuration"}}</h3>
    <div style="box-shadow:0 0 0 1px #c9ba9b inset, 0 0 0 0 transparent;background-color: #fffaf3;
    color: #573a08;padding:10px;border-radius:5px;margin:2px;">
        <i class="fas fa-exclamation-triangle"></i>
        {{localize "beaversProximityAction.activitySettings.warning"}}
    </div>
    <div class="form-group">
        <label>{{localize "beaversProximityAction.activitySettings.enabled.label"}}</label>
        <div class="form-fields">
            TODO
        </div>
        <p class="notes">
            {{localize "beaversProximityAction.activitySettings.enabled.hint" localizeData}}
        </p>
    </div>
    <beavers-activity-test-config activityId="{{activity.id}}"></beavers-activity-test-config>
</form>