<section data-tab="{{key}}">
    <h2 class="border flexrow">
        <span>{{name}}</span>
        <a style="flex:0" class="item-delete" data-id="{{key}}">
            <i class="fas fa-trash"></i>
        </a>
    </h2>
    <beavers-activity-test-config entityActivityId="{{type}}-{{id}}-{{key}}" activityId="{{activityId}}"></beavers-activity-test-config>

</section>