<form autocomplete="off">
    <div style="box-shadow:0 0 0 1px #c9ba9b inset, 0 0 0 0 transparent;background-color: #fffaf3;
    color: #573a08;padding:10px;border-radius:5px;margin:2px;">
        <i class="fas fa-exclamation-triangle"></i>
        {{localize "beaversProximityAction.activitySettings.warning"}}
    </div>
    <fieldset>
        <div class="form-group">
            <label>{{localize "beaversProximityAction.activitySettings.enabled.label"}}</label>
            <div class="form-fields">
                TODO
            </div>
            <p class="notes">
                {{localize "beaversProximityAction.activitySettings.enabled.hint" localizeData}}
            </p>
        </div>
    </fieldset>
    <div class="form-group">
        <label>{{localize "beaversProximityAction.activitySettings.test.label"}}</label>
        <div class="form-fields">
            <select name="test.type" style="flex:0">
                {{#select data.test.type}}
                    <option value="none">{{localize "beaversProximityAction.activitySettings.none.label"}}</option>
                    <option value="skill">
                        {{localize "beaversProximityAction.activitySettings.skill.label"}}</option>
                    {{#if canRollAbility}}
                        <option value="ability">
                            {{localize "beaversProximityAction.activitySettings.ability.label"}}</option>
                    {{/if}}
                    <option value="input">
                        {{localize "beaversProximityAction.activitySettings.input.label"}}</option>
                    <option value="gm">
                        {{localize "beaversProximityAction.activitySettings.gm.label"}}</option>
                {{/select}}
            </select>
        </div>
        <p class="notes">
            {{localize "beaversProximityAction.activitySettings.test.hint"}}
        </p>
    </div>
    {{#if (eq data.test.type "skill")}}
        <div class="form-group">
            <label>{{localize "beaversProximityAction.activitySettings.skill.label"}}</label>
            <div class="form-fields">
                <select name="test.inputField.label">
                    {{#select data.test.inputField.label}}
                        <option selected disabled value=""></option>
                        {{#each ../skills}}
                            <option value="{{this.id}}">{{this.label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <p class="notes">
                {{localize "beaversProximityAction.activitySettings.skill.hint" }}
            </p>
        </div>
        <div class="form-group">
            <label>{{localize "beaversProximityAction.activitySettings.defaultValue"}}</label>
            <div class="form-fields">
                <input type="number" name="test.defaultValue"
                       value="{{data.test.inputField.defaultValue}}"/>
            </div>
        </div>
    {{/if}}
    {{#if (eq test.type "ability")}}
        <div class="form-group">
            <label>{{localize "beaversProximityAction.activitySettings.ability.label"}}</label>
            <div class="form-fields">
                <select name="test.name">
                    {{#select data.test.inputField.label}}
                        <option selected disabled value=""></option>
                        {{#each ../abilities}}
                            <option value="{{this.id}}">{{this.label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <p class="notes">
                {{localize "beaversProximityAction.activitySettings.ability.hint"}}
            </p>
        </div>
        <div class="form-group">
            <label>{{localize "beaversProximityAction.activitySettings.defaultValue"}}</label>
            <div class="form-fields">
                <input type="number" name="test.defaultValue"
                       value="{{data.test.inputField.defaultValue}}"/>
            </div>
        </div>
    {{/if}}
    {{#if (eq this.type "input")}}
        <div class="form-group">
            <label>{{localize "beaversProximityAction.activitySettings.input.label"}}</label>
            <div class="form-fields">
                <input type="text" name="data.test.inputField.label" value="{{data.test.inputField.label}}"/>
                <select name="test.inputField.type"/>
                {{#select data.test.inputField.type}}
                    <option value="number">number</option>
                    <option value="text">text</option>
                    <option value="area">area</option>
                    <option value="selection">selection</option>
                    <option value="boolean">boolean</option>
                {{/select}}
                </select>
            </div>
            <p class="notes">
                {{localize "beaversProximityAction.activitySettings.input.hint"}}
            </p>
        </div>
        {{#if (eq this.type "selection")}}
            <div class="form-group">
                <label>{{localize "beaversProximityAction.activitySettings.selection.label"}}</label>
                <div class="form-fields">
                    <input/>
                </div>
                <div class="form-fields">
                    title="{{localize "beaversProximityAction.activitySettings.selection.add"}}">
                    <BeaversButton name="addChoice" icon="plus"/>
                </div>
            </div>
            {{#each this.choices}}
                <div class="form-group" data-key="@key">
                    <label>{{@key}}</label>
                    <div class="form-fields">
                        <input value="{{this.text}}" name="{{path}}.choices[{{@key}}].text"/>
                    </div>
                    <div class="form-fields">
                        <input value="{{this.img}}" name="{{path}}.choices[{{@key}}].img"/>
                    </div>
                    <div class="form-fields"
                         title="{{localize "beaversProximityAction.activitySettings.selection.remove"}}">
                        <BeaversButton name="removeChoice" icon="trash"/>
                    </div>
                </div>
            {{/each}}
        {{/if}}
        <div class="form-group">
            <label>{{localize "beaversProximityAction.activitySettings.defaultValue"}}</label>
            <div class="form-fields">
                <input type="text" name="{{path}}.defaultValue"
                       value="{{this.defaultValue}}"/>
            </div>
        </div>
    {{/if}}
    {{#if (eq this.type "gm")}}
        <div class="form-group">
            <label>{{localize "beaversProximityAction.activitySettings.gm.label"}}</label>
            <div class="form-fields">
                <input type="text" name="test.inputField.note"
                       value="{{this.inputField.note}}"/>
            </div>
            <p class="notes">
                {{localize "beaversProximityAction.activitySettings.gm.hint"}}
            </p>
        </div>
    {{/if}}
    <button type="submit"><i class="fas fa-save"></i> {{localize "beaversProximityAction.activitySettings.submit"}}
    </button>
</form>